#cat {
  margin: 0.8rem auto;
  width: 75%;
  position: sticky;
  z-index: 10;
  top: 15%;
}

.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
}

#return-icon {
  max-width: 50px;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 35%;
  margin-left: 1rem;
}

.message-modal {
  justify-content: center;
  align-items: center;
  width: 70%;
  position: fixed;
  top: 30%;
  right: 15%;
  z-index: 30;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: #f9f9f9fa;
  box-shadow: 0 0 8px 1px #686868;
}

.message-modal p {
  margin: 10%;
  text-align: center;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card-div {
    padding-left: 45px;
  }

  #return-icon {
    top: 40%;
  }
}
