.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

#return-icon {
  max-width: 50px;
  position: sticky;
  z-index: 20;
  left: 0;
  top: 40%;
  margin-left: 1rem;
}