.cart-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.cart-div h2 {
  margin: 1rem 0 0.5rem 0;
}

.cart-div hr {
  width: 100%;
}

.item-edit-modal {
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 40%;
  position: absolute;
  z-index: 50;
  left: 20%;
  top: 25%;
  border-radius: 3px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px 2px #686868;
  text-align: center;
}

.edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#edit-amount-input {
  text-align: center;
  width: 15%;
  height: 70%;
}

#edit-decrement-btn,
#edit-increment-btn {
  height: 80%;
  width: 20px;
  border: 1px solid #f9f9f9;
  box-shadow: 0 0 2px 0px black;
  border-radius: 2px;
}

#edit-decrement-btn:active,
#edit-increment-btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px 1px #686868;
}

.update-buttons {
  display: flex;
  justify-content: space-around;
}

.empty-cart {
  text-align: center;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
}

.item-header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-img {
  max-width: 75px;
}

.trash-btn {
  max-width: 20px;
  margin-top: 10px;
  z-index: 5px;
}

.cart-item-description {
  width: 50%;
  font-size: 14px;
  margin-left: 1rem;
}

.cart-item-description h3 {
  font-size: 16px;
  margin: 0;
}

.cart-item-total {
  display: flex;
  justify-content: space-between;
}

.cart-item-total div {
  text-align: end;
}

.cart-item-total p,
.cart-item-total div p {
  margin-top: 0;
}

.cart-item-total div p:last-child {
  font-weight: bold;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.cart-options {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.cart-options button:active {
  transform: scale(0.9);
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cart-item,
  .cart-total {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 769px) {
  h2 {
    text-align: center;
  }

  .cart-item {
    padding: 1rem;
    width: 70%;
    margin: 1rem auto;
    border-radius: 3px;
    box-shadow: 0 0 5px 0px #686868;
  }

  .cart-total {
    justify-content: flex-end;
    gap: 5%;
    width: 80%;
  }

  .item-edit-modal {
    width: 300px;
    max-height: 150px;
    margin: auto;
    left: 35%;
  }

  .cart-options {
    justify-content: center;
    gap: 25%;
    width: 40%;
    margin: 2rem auto;
  }
}
