aside {
  display: none;
  background-color: #00000078;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.menu-container {
  background-color: #f9f9f9;
  width: 75%;
  height: 100%;
  position: absolute;
}

.menu-container h2 {
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

#menu-exit {
  width: 25px;
  position: absolute;
  right: 28%;
  top: 2%;
}
