.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 5%;
}

.img-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  overflow: hidden;
}

.main-image {
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 125px;
}

#shop-button {
  margin-top: 3rem;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-image img {
    height: 100%;
  }
}
