.card {
  max-width: 200px;
  position: relative;
  padding: 0.5rem;
  margin: 1rem;
}

.card-image img {
  width: 100%;
}

.card-body {
  padding: 0.5rem;
}

.item-name {
  margin: 0;
}

.item-name h3 {
  margin: 0;
  font-size: 0.9rem;
}

.item-description p {
  margin: 0;
  font-size: 12px;
}

.item-cost p {
  margin: 0;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.item-amount {
  display: flex;
  align-items: center;
  gap: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#amount-input {
  text-align: center;
  width: 25%;
  height: 70%;
}

#decrement-btn,
#increment-btn {
  height: 75%;
  width: 20px;
  border: 1px solid #f9f9f9;
  box-shadow: 0 0 2px 0px black;
  border-radius: 2px;
}

#decrement-btn:active,
#increment-btn:active,
#add-to-cart-btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px 1px #686868;
}

#add-to-cart-btn {
  border: none;
  box-shadow: 1px 1px 1px 0px #686868;
  border-radius: 2px;
  width: 50%;
}
