header {
  padding: 0 1rem;
  border-bottom: 1px solid #00000022;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f9f9f9;
}

h1 {
  font-size: 1.4rem;
}

.logo-nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 60%;
}

.logo a {
  text-decoration: none;
  color: #000000;
}

.logo img {
  max-width: 24px;
}

.nav-icons {
  width: 40%;
}

.menu-lg {
  display: none;
  width: 80%;
  margin: 0.5rem auto;
}

.menu-lg a {
  text-decoration: none;
  color: #000000;
}

.menu-lg li {
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

.menu-lg li:hover {
  background-color: #686868;
}

.menu-lg li p {
  margin: 5px;
}

.menu-lg li:hover p {
  color: #f9f9f9;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 2rem;
  }

  #menu-icon {
    display: none;
  }

  .menu-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
