header {
  padding: 1rem;
  border-bottom: 1px solid #00000022;
}

h1 {
  font-size: 1.4rem;
}

.logo-nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 60%;
}

.logo img {
  max-width: 24px;
}

.nav-icons {
  width: 40%;
}
