footer {
  background-color: #686868;
  color: #ffffff;
  padding: 1rem 0.5rem;
}

footer hr {
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
}

.footer-links {
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.footer-links div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.footer-links h3 {
  margin: 0.5rem;
}

.footer-links img {
  max-width: 30px;
  height: 100%;
}

.customer-service-list,
.store-info-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 14px;
  height: 0;
  overflow: hidden;
  margin-bottom: 5%;
}

.customer-service-list li,
.store-info-list li {
  width: 100%;
}

.customer-service-list li p,
.store-info-list li p {
  margin: 2%;
}

.customer-service-list a,
.store-info-list a {
  text-decoration: none;
  color: #ffffff;
}

.updates-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}

.email-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.email-signup,
.social-media {
  width: 85%;
  margin: 0 auto;
}

#updates-input {
  border-radius: 5px;
  border: 1pt solid #686868;
  box-shadow: 1px 1px 2px 0 #000000 inset;
  width: 70%;
  height: 20px;
}

.social-media {
  text-align: center;
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-media-icons img {
  max-width: 30px;
  height: 100%;
}
