ul {
  display: flex;
  justify-content: end;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 0.5rem;
  position: relative;
}

.icons {
  width: 28px;
}

#cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  position: absolute;
  z-index: 50;
  top: -10px;
  right: -5px;
  color: #f9f9f9;
}